In [5]:
#for loop ကို 
#1.data cleaning (row တစ်ခုချင်းပြန်ပြီး nullရှာခြင်း)
#2.feature engineering(column တစ်ခုချင်းmodify)
#3.file reading(line by line read)
#4.visualization loop(chart တစ်ခုချင်းပြ)

1
2
3
4
5

In [14]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
#list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print("I like",fruit)

I like apple
I like banana
I like orange

In [10]:
#string

for i in "kingkong":
    print(i)

k
i
n
g
k
o
n
g

In [13]:
for num in range(1,10):
    print(num,"square is",num**2)

1 square is 1
2 square is 4
3 square is 9
4 square is 16
5 square is 25
6 square is 36
7 square is 49
8 square is 64
9 square is 81

In [16]:
#range start,stop,step

for i in range(1,10,3):
    print(i)

1
4
7

In [17]:
#nested loop

for i in range(1,3):
    for j in range(1,4):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

In [19]:
#break
for i in range (1, 10):
    if i == 6:
        break 
    print(i)

1
2
3
4
5

In [20]:
#continue
for i in range(1, 10):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9

In [22]:
for i in range (1,11):
    print(i,"* 2 is",i*2)

1 * 2 is 2
2 * 2 is 4
3 * 2 is 6
4 * 2 is 8
5 * 2 is 10
6 * 2 is 12
7 * 2 is 14
8 * 2 is 16
9 * 2 is 18
10 * 2 is 20

In [23]:
for i in ("kingkong"):
    print(i)

k
i
n
g
k
o
n
g

In [27]:
nums = [1, 2, 4, 5, 7]
for num in nums:
    if num <= 2:
        continue
    print(num)

4
5
7

In [29]:
#index,value
fruits = ["apple", "orange", "cherry"]
for index, fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 orange
2 cherry

In [34]:
#zip
names = ["kingkong", "koekoe", "karen"]
scores = [100, 5, 5]
for names, score in zip(names, scores):
    print(f"{names} scored {score}")

kingkong scored 100
koekoe scored 5
karen scored 5

In [35]:
trucks = ["VKM", "RAM", "ANB"]
tyres = [26, 26, 24]
for trucks, tyre in zip (trucks,tyres):
    print(f"{trucks} have {tyre} tyres")

VKM have 26 tyres
RAM have 26 tyres
ANB have 24 tyres

In [5]:
#def
def greet(name):
    return "Hello " + name

result = greet(input("type your name :"))
print(result)

type your name : king

Hello king