In [1]:
#variable examples
name = "kingkong" #string
age = 26          #int
height =5.7       #float
is_male = True    #bool

print("name: ", name)
print("age: ", age)
print("height: ", height)
print("is_male:", is_male)

name:  kingkong
age:  26
height:  5.7
is_male: True

In [2]:
#input

age = input("type your age: ")
future_age = int(age)+ 5
print("your future_age is :",future_age )

type your age:  30

your future_age is : 35

In [3]:
#greeting

name = input("What is your name: ")
print("Nice to meet you ",name)

What is your name:  King

Nice to meet you  King

In [4]:
#calculate 

hours_per_day = 2
day = 5
total = hours_per_day * day
print("total",total)

total 10